[data-theme="dark"] {
  --primary-color: #fff;
  --secondary-color: #82e0aa;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --bg-color2: #0f1624;
  --heading-color: #818cab;

  --gradient-1: #82e0aa;
  --gradient-2: #00ff23;
}
