[data-theme="light"] {
  --primary-color: #000;
  --secondary-color: #00ccff;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --bg-color2: #fff;
  --heading-color: #818cab;

  --gradient-1: #003153;
  --gradient-2: #00ccff;

  // --gradient-1: #ff0066;
  // --gradient-2: #ff073a;
}
