@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./theme/index.scss";

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--primary-color);
  background: var(--bg-color2);
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--gradient-1), var(--gradient-2));
  border-radius: 5px;
}
